*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #080808;
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: #080808;
  overflow-x: hidden;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  color: #f0ede8;
  -webkit-font-smoothing: antialiased;
}

#root {
  background: #080808;
  width: 100%;
  overflow-x: hidden;
}